# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*
/.idea/
*/.gradle/
*/build/
*/.kotlin/
/fe-components/
/deploy/eks/argocd/base/infrastructure/secrets/*.generated
/deploy/eks/argocd/base/infrastructure/secrets/.env.secrets
/deploy/eks/argocd/base/tinder-app/secrets/.env.secrets
/deploy/eks/argocd/base/tinder-app/secrets/*.generated
!/deploy/eks/argocd/base/infrastructure/secrets/*.template
!/deploy/eks/argocd/base/tinder-app/secrets/*.template
