POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password
KEYCLOAK_DB=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=supersecurepassword
KC_DB_PASSWORD=keycloaksecret
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
DOMAIN_NAME=tinder.localhost
KEYCLOAK_HOST=host.docker.internal
KEYCLOAK_PORT=8088
PROFILES_HOST=host.docker.internal
PROFILES_PORT=8082
REACTIONS_HOST=host.docker.internal
REACTIONS_PORT=8083
MATCHES_HOST=host.docker.internal
MATCHES_PORT=8084
RECOMMENDATIONS_HOST=host.docker.internal
RECOMMENDATIONS_PORT=8085
